################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KHC Bootstrap Theme/img/Placeholder Images/Banners/Homepage2016.psd
/KHC Bootstrap Theme/img/Placeholder Images/Banners/2016 KAHC Banner - Call For Entries.psd
/KHC Bootstrap Theme/img/Placeholder Images/Banners/2015 Home Buying3.psd
