################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KHC Bootstrap Theme/img/Placeholder Images/Banners/Homepage2016.psd
